<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PORTFOLIO</title>
</head>
<style>
    body
    {
        background-image: linear-gradient(rgb(5, 5, 5), rgb(249, 249, 246));

    }
    .good
    {
        color:beige;
        margin-top: 20px;
        font-size: larger;
        font-family: Arial, Helvetica, sans-serif;
    }
</style>

<body>
    <div class ="good">
        <ul style="list-style-type:circle;">
            <li>Front End Development</li>
            <li>Machine Learning</li>
            <li>Big Data Using Haddop</li>
          </ul>
    </div>
</body>
</html>